<div class="container d-flex justify-content-center">
  <form class="address-form" [formGroup]="addressForm"  >
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Street</mat-label>
        <input formControlName="street" matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Alley</mat-label>
        <input formControlName="alley" matInput>
      </mat-form-field></td>
    </tr></table>
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Country</mat-label>
        <input formControlName="country" matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>City</mat-label>
        <input formControlName="city" matInput placeholder="Ex. San Francisco">
      </mat-form-field></td>
    </tr></table>

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>State</mat-label>
        <input formControlName="state" matInput placeholder="Ex. California">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Postal Code</mat-label>
        <input formControlName="postalCode" matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
      </mat-form-field></td>
    </tr></table>
    <div class="text-center">
      <button class="adress-btn" (click)="updateAddress()"   mat-raised-button color="link">Update</button>
    </div>
  </form>
</div>
