.form-holder{
  margin-top: 50px;
}
.contact-info-form{
  margin-top: 50px;
  border-radius: 16px;
  padding: 10px;
  width: 80%;
  height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.contact-info-form .form-floating:focus-within {
  z-index: 2;
}

.input-container{
  width: 100%;
}
.custom-btn{
  border: 1px solid black;
}

.custom-btn:active{
  transform: scale(0.9);
}
@media screen and (max-width:600px){
  .form-floating{
    margin-bottom: 10px;
  }
}
