<main class="form-holder w-100">
  <form class="contact-info-form align-items-center m-auto">
    <div class="row row-gap">
      <div class="col-md-6">
        <div class="form-floating">
          <input type="email" class="form-control" id="contactEmail" placeholder="Contact Email">
          <label for="contactEmail">Contact Email</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-floating">
          <input type="tel" class="form-control" id="contactTelNo" placeholder="Ex. 542 556 22 56">
          <label for="contactTelNo">Contact Tel No</label>
        </div>
      </div>
    </div>
    <div class="row row-gap">
      <div class="col-md-6">
        <div class="form-floating">
          <input type="email" class="form-control" id="twitterUrl" placeholder="twitter url">
          <label for="twitterUrl">Twitter Url</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-floating">
          <input type="text" class="form-control" id="instagramUrl" placeholder="instagram url">
          <label for="instagramUrl">Instagram Url</label>
        </div>
      </div>
    </div>
    <div class="row row-gap">
      <div class="col-md-6">
        <div class="form-floating">
          <input type="text" class="form-control" id="facebookUrl" placeholder="facebook url">
          <label for="facebookUrl">Facebook Url</label>
        </div>
      </div>
    </div>
    <div class="row row-gap justify-content-center">
          <button class="btn custom-btn w-25 py-2"  type="submit">Submit</button>
    </div>
  </form>
</main>
