@if(localStorage.getItem('role' ) != 'LAWYER'){
  <div class="warning box container">
    <i class="ri-error-warning-line"></i>
    This Account has not been activated As Lawyer. To activate, upload the files requested below!
  </div>
  <mat-stepper
    class="example-stepper"
    [orientation]="(stepperOrientation | async)!" #stepper>
    <mat-step label="Upload Lawyer Card Photo">
      <form >
        <div class="input-group mb-3">
          <input  type="file" class="form-control" (change)="onChange($event)" id="inputGroupFile02">
          <button type="submit" (click)="addCardPhoto()" class="btn btn-file-custom">Upload</button>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step label="Upload Tc Photo">
      <form>
        <div class="input-group mb-3">
          <input type="file" class="form-control" (change)="onChange($event)" id="inputGroupFile03">
          <button type="submit" (click)="addTcPhoto()" class="btn btn-file-custom">Upload</button>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step label="Upload Lawyer Photo">
      <form>
        <div class="input-group mb-3">
          <input type="file" class="form-control" (change)="onChange($event)" id="inputGroupFile04">
          <button type="submit" (click)="addLawyerPhoto()" class="btn btn-file-custom">Upload</button>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step label="Adress">
      <form class="address-form" [formGroup]="addressFormGroup"  >
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width">
            <mat-label>Street</mat-label>
            <input formControlName="street" matInput>
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <mat-label>Alley</mat-label>
            <input formControlName="alley" matInput>
          </mat-form-field></td>
        </tr></table>
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width">
            <mat-label>Country</mat-label>
            <input formControlName="country" matInput>
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <mat-label>City</mat-label>
            <input formControlName="city" matInput placeholder="Ex. San Francisco">
          </mat-form-field></td>
        </tr></table>

        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width">
            <mat-label>State</mat-label>
            <input formControlName="state" matInput placeholder="Ex. California">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <mat-label>Postal Code</mat-label>
            <input formControlName="postalCode" matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
          </mat-form-field></td>
        </tr></table>
        <div class="container text-center">
          <button class="adress-btn" (click)="createAddress()"   mat-raised-button color="link">Upload</button>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>

    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </mat-step>
  </mat-stepper>
} @else {
  <div class="container d-flex justify-content-center">
    <div class="success box">
      <i class="ri-emotion-happy-line"></i>
      This Account Has Already Been Activated as Lawyer!
    </div>
  </div>
}


