<mat-stepper
  class="example-stepper"
  [orientation]="(stepperOrientation | async)!">
  <mat-step [stepControl]="firstFormGroup" label="Fill out your Tc number">
    <form [formGroup]="firstFormGroup">
      <mat-form-field>
        <mat-label>Tc No</mat-label>
        <input matInput placeholder="Tc No" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Fill out your Bar no">
    <form [formGroup]="secondFormGroup">
      <mat-form-field>
        <mat-label>Bar no</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 568975"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step label="Upload Lawyer Card Photo">
    <form>
      <div class="input-group mb-3">
        <input type="file" class="form-control" id="inputGroupFile02">
        <button type="submit" class="btn btn-file-custom">Upload</button>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step label="Upload Tc Photo">
    <form>
      <div class="input-group mb-3">
        <input type="file" class="form-control" id="inputGroupFile03">
        <button type="submit" class="btn btn-file-custom">Upload</button>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step label="Upload Lawyer Photo">
    <form>
      <div class="input-group mb-3">
        <input type="file" class="form-control" id="inputGroupFile04">
        <button type="submit" class="btn btn-file-custom">Upload</button>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-stepper>
