@if(localStorage.getItem('role' ) != 'LAWYER'){
  <div class="warning box container">
    <i class="ri-error-warning-line"></i>
    This Account has not been activated As Lawyer. To activate, upload the files requested below!
  </div>
  <mat-stepper
    class="example-stepper"
    [orientation]="(stepperOrientation | async)!">
    <mat-step label="Upload Lawyer Card Photo">
      <form>
        <div class="input-group mb-3">
          <input type="file" class="form-control" id="inputGroupFile02">
          <button type="submit" class="btn btn-file-custom">Upload</button>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step label="Upload Tc Photo">
      <form>
        <div class="input-group mb-3">
          <input type="file" class="form-control" id="inputGroupFile03">
          <button type="submit" class="btn btn-file-custom">Upload</button>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step label="Upload Lawyer Photo">
      <form>
        <div class="input-group mb-3">
          <input type="file" class="form-control" id="inputGroupFile04">
          <button type="submit" class="btn btn-file-custom">Upload</button>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </mat-step>
  </mat-stepper>
} @else {
  <div class="success box">
    <i class="ri-emotion-happy-line"></i>
    This Account Has Already Been Activated as Lawyer!
  </div>
}

