.btn-file-custom{
  border: 1px solid black;
  transition: 100ms ease-in-out;
}

.btn-file-custom:active{
  transform: scale(0.9);
}
.box {
  margin-top: 5%;
  margin-bottom: 20px;
  width: fit-content;
  height: auto;
  border: 2px solid #000;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  border-radius: 10px;
}
.warning {
  background-color: #FFF484;
  border-color: #DCC600;
}
.success {
  background-color: #B9FFAB;
  border-color: #116400;
  color: #116400;
}
