.btn-file-custom{
  border: 1px solid black;
  transition: 100ms ease-in-out;
}

.btn-file-custom:active{
  transform: scale(0.9);
}
.box {
  margin-top: 5%;
  margin-bottom: 20px;
  width: fit-content;
  height: auto;
  border: 2px solid #000;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  border-radius: 10px;
}
.warning {
  background-color: #FFF484;
  border-color: #DCC600;
}
.success {
  background-color: #B9FFAB;
  border-color: #116400;
  color: #116400;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.adress-btn{
  border-radius: 10px;
  width: 150px;
  margin-bottom: 50px;
}
.address-form{
  overflow-x: scroll ;
}
