<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Search Lawyer
      </mat-panel-title>
      <mat-panel-description>
        Search by credentials
        <fa-icon class="icon" [icon]="searchIcon"> </fa-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="container text-center">
      <mat-form-field>
        <mat-label>Lawyer name</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>City</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<section class="wrapper">
  <div class="container">
    <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4 mb-4"><div class="card text-dark card-has-bg click-col" style="background-image:url('assets/lawyer-photo.jpg');">
            <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street" alt="lawyer-card">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <small class="card-meta mb-2">LAWYER</small>
                <h4 class="card-title mt-0 "><a class="text-dark-emphasis text-decoration-none">Bugra Calıskan</a></h4>
                <p><i class="ri-map-pin-2-line"></i>ANKARA</p>
                <p><i class="ri-phone-line"></i>542 274 27 58</p>
              </div>
              <div class="card-footer">
                <div class="media">
                  <img class="mr-3 rounded-circle" src="assets/IwantMyLawyerLogo.png" alt="Generic placeholder image" style="max-width:50px">
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <mat-paginator [length]="100"
                   [pageSize]="10"
                   aria-label="Select page">
    </mat-paginator>
  </div>
</section>

