<div class="card lawyer-card bg-dark text-white">
  <img class="card-img" src="/assets/lawyer-photo.jpg" alt="Card image">
  <div class="card-img-overlay">
    <h5 class="card-title">Bugra Calıskan</h5>
    <div class="row">
      <div class="col-md-6 d-inline-flex">
        <i class="ri-map-pin-2-line"></i>
        <p class="card-text">Ankara</p>
      </div>
      <div class="col-md-6 d-inline-flex">
        <i class="ri-phone-line"></i>
        <p class="card-text">544 272 58 89</p>
      </div>
    </div>

  </div>
</div>
