.lawyer-card{
  min-width: 25vw;
  margin-bottom: 30px;
}

.lawyer-card:hover{
  cursor: pointer;
}

.card-img-overlay{
  overflow: hidden;
  top: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 500ms ease-in-out;
  backdrop-filter: blur(10px);
}
.row{
  margin-top: 20px;
  display: none;
}
.lawyer-card:hover > .card-img-overlay{
  top: 50%;
}
.lawyer-card:hover .row {
   display: block;
}
i{
  font-size: 1.2rem;
}
h5{
  font-family: "Quicksand", sans-serif;
}
p{
  font-family: "Quicksand", sans-serif;
  margin-left: 5px;
  font-size: 1.2rem;
}

