.lawyer-card{
  min-width: 25vw;
  margin-bottom: 20px;
}

.lawyer-card:hover{
  cursor: pointer;
}

.card-img-overlay{
  overflow: hidden;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 500ms ease-in-out;
  backdrop-filter: blur(10px);
}
.lawyer-card:hover > .card-img-overlay{
  height: 100%;

}
.row{
  margin-top: 20px;
}
i{
  font-size: 1.2rem;
}
p{
  margin-left: 5px;
  font-size: 1.2rem;
}
