<div class="lawyer-profile-page">
  <app-responsive-header/>
  <div class="page-wrapper">
    <aside>
      <p class="h1">BUGRA CALISKAN</p>
      <p class="flourish">~</p>
      <div class="bio container">
          <div class="row text-center">
              <div class="col-md-6">
                <p><i class="ri-map-pin-2-line icon"></i>ANKARA</p>
              </div>
            <div class="col-md-6">
              <p><i class="ri-phone-line icon"></i>542 274 27 58</p>
            </div>
          </div>
          <div class="row  text-center">
            <div class="col-md-6">
              <p><i class="ri-mail-line icon"></i>bugracalıskan&#64;gmail.com</p>
            </div>
            <div class="col-md-6">
              <p><i class="ri-twitter-x-line icon"></i>&#64;bugra_calıskan</p>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-md-6">
              <p><i class="ri-instagram-line icon"></i>bugrainstagram</p>
            </div>
            <div class="col-md-6">
              <p><i class="ri-facebook-circle-line icon"></i>bugra_calıskansdflasdfasdf</p>
            </div>
          </div>
      </div>
    </aside>
    <article>
      <div class="image">
        <img alt="lawyyer-photo" src="assets/lawyer-photo.jpg" /></div>
      <div class="text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae harum, accusantium aliquid quia dolores error, fugit placeat ratione amet non nostrum necessitatibus soluta earum ipsum voluptate neque corporis asperiores modi. Placeat
          unde, autem voluptatibus sed repellendus consequuntur quia temporibus. Repellat sunt officia repudiandae amet quisquam saepe, qui impedit quibusdam beatae.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae harum, accusantium aliquid quia dolores error, fugit placeat ratione amet non nostrum necessitatibus soluta earum ipsum voluptate neque corporis asperiores modi. Placeat
          unde, autem voluptatibus sed repellendus consequuntur quia temporibus. Repellat sunt officia repudiandae amet quisquam saepe, qui impedit quibusdam beatae.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae harum, accusantium aliquid quia dolores error, fugit placeat ratione amet non nostrum necessitatibus soluta earum ipsum voluptate neque corporis asperiores modi. Placeat
          unde, autem voluptatibus sed repellendus consequuntur quia temporibus. Repellat sunt officia repudiandae amet quisquam saepe, qui impedit quibusdam beatae.</p>
      </div>
      <div class="articles container">
        <p class="h4">ARTICLES</p>
        <app-article-carousel/>
      </div>
    </article>
  </div>
</div>
