.sidenav-container {
  height: 100%;
}

.sidenav .mat-toolbar {
  background: inherit;
}
.image--cover {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 20px;

  object-fit: cover;
  object-position: center right;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.header-holder{
  height: 100px;
  border-bottom: 1px solid black;
}

.example-stepper {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.router-holder{
  width: 100%;
  height: 100%;
}
.logo:hover{
  cursor: pointer;
}
mat-sidenav{
  width: 210px;
  height: 100%;
  border: none;
  display: flex;
  justify-content: start;
}

mat-nav-list{
  margin-bottom: auto;
  flex-direction: column;
  height: 80vh;
}

.wrapper {
  padding: 0;
  width: 100%;
  height: fit-content;
}

