<mat-sidenav-container class="sidenav-container sidebar">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar><img alt="logo" routerLink="" class="logo" src="./assets/IwantMyLawyerLogo.png" width="100px" height="100px" style="margin-top: 100px;margin-left: 25px"></mat-toolbar>
    <mat-nav-list class="d-flex" style="margin-top: 70px; color:white; ">
      <a mat-list-item routerLink="activate-account">ACTIVATE ACCOUNT</a>
      <a mat-list-item routerLink="about-me">ABOUT ME</a>
      <a mat-list-item routerLink="contact-info">CONTACT INFO</a>
      <a mat-list-item routerLink="expertise-fields">EXPERTISE FIELDS</a>
      <a mat-list-item routerLink="common-questions">COMMON QUESTIONS</a>
      <a mat-list-item routerLink="address">ADDRESS</a>
      <a mat-list-item routerLink="articles">ARTICLES</a>
      <a class="mb-auto" mat-list-item (click)="logout()" >LOGOUT</a>

      @if(role =='LAWYER'){
        <button mat-button class="wrapper" [matMenuTriggerFor]="aboveMenu">
          <img [src]="'data:image/jpg;base64,'+ lawyer?.lawyerPhoto" class="image--cover">
        </button>
        <mat-menu #aboveMenu="matMenu" yPosition="above">
          <button [routerLink]="['/lawyer-profile',lawyerId]" mat-menu-item >Profile</button>
          <button routerLink="/lawyer-edit-profile/activate-account" mat-menu-item>Settings</button>
        </mat-menu>
      } @else if (role == 'LAWYER_UNCONFIRMED'){
        <button mat-button class="wrapper" [matMenuTriggerFor]="aboveMenu">
          <img src="assets/default_lawyer_pic.jpeg" class="image--cover">
        </button>
        <mat-menu #aboveMenu="matMenu" yPosition="above">
          <button routerLink="/lawyer-edit-profile/activate-account" mat-menu-item>Settings</button>
        </mat-menu>
      }
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content class="content">
    @if (isHandset$ | async) {
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon"><fa-icon class="icon" [icon]="faHeart"></fa-icon></mat-icon>
      </button>
    }
      <div class="header-holder text-center align-content-center">
          <h1>Account Settings</h1>
      </div>
        <div class="router-holder container justify-content-center">
          <router-outlet/>
        </div>
  </mat-sidenav-content>
</mat-sidenav-container>
