.login{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color:#DED4C4 ;
}
.row{
  margin-top: 100px;
}


.form-signin {
  max-width: 500px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

input:focus {
  border-color: black;
  box-shadow: 0 0 0 0.2rem rgb(0, 0, 0,0.5);
}
input:focus ~ label {
  color: black;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
}
.login-text{
  font-family: "Quicksand", sans-serif;
}
.login-form > img:hover{
  cursor: pointer;
}
.form-floating{
  margin-top: 20px;
}
.form-control{
  border-radius: 10px;
  background-color: transparent;
}
.login-form{
  text-align: center;
}
.btn-color{
  background-color: #F9725A;
  color: white;
  margin-top: 10px;
  border-radius: 25px;
  font-family: "Quicksand", sans-serif;
}
.btn-color:hover{
  transform: scale(1.1);
}
.btn-color:active{
  background-color: #de5a43;
  border: none;
  color: white;
}
input{
  border: 2px solid black;
}




