<div class="header">
    <a routerLink="/posts">POSTS</a>
    <a routerLink="/lawyers">LAWYERS</a>
    <img class="logo" alt="iwantmylawyer-logo" src="../../../assets/IwantMyLawyerLogo.png" routerLink="" />
    @if(localStorage.getItem('acces_token')){
      @if(role != 'CLIENT'){
        <a routerLink="/lawyer-edit-profile/activate-account" >SETTINGS</a>
      } @else if (role == 'CLIENT'){
        <a routerLink="">HOME</a>
      }
      <a routerLink="">LOGOUT</a>
    } @else {
      <a routerLink="/login">LOG IN</a>
      <a routerLink="/signup">SIGN UP</a>
    }

    <button class="hamburger" (click)="handleHam()" [ngClass]="{'active': hamActive}">
      <div class="bar"></div>
    </button>
    <div class="hamburger-slider">
      <div (click)="handleHam()"  class="mobile-nav-background" [ngClass]="{'active': hamActive}"></div>
      <div class="mobile-nav-holder" [ngClass]="{'active': hamActive}">
        <nav class= "mobile-page-nav">
          <li><a routerLink="/posts">POSTS</a></li>
          <li><a routerLink="/lawyers">LAWYERS</a></li>
          @if(localStorage.getItem('acces_token')){
            @if(localStorage.getItem('role') == 'LAWYER'){
              <li><a [routerLink]="['/lawyer-profile',localStorage.getItem('id')]">PROFILE</a></li>
            }
            @if (localStorage.getItem('role') != 'CLIENT'){
              <li><a routerLink="/lawyer-edit-profile/activate-account">SETTINGS</a></li>
            }
          }
        </nav>
        <hr class = 'slider-hr'/>
        <nav class = 'mobile-auth-nav'>
          @if(localStorage.getItem('acces_token')){
            <li><a routerLink="">LOGOUT</a></li>
          }@else{
            <li><a routerLink="/signup">SIGN UP</a></li>
            <li><a routerLink="/login">LOGIN</a></li>
          }
        </nav>
        <img class='slider-logo' alt='iwantmylawyer-logo' src='../../../assets/IwantMyLawyerLogo.png' />
    </div>
  </div>
</div>
