<mat-sidenav-container class="sidenav-container sidebar">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><img class="logo" routerLink="" src="./assets/IwantMyLawyerLogo.png" width="100px" height="100px" style="margin-top: 100px;margin-left: 25px"></mat-toolbar>
    <mat-nav-list style="margin-top: 70px; color:white; ">
        <a mat-list-item routerLink="">HOME</a>
        <a mat-list-item routerLink="/lawyers">LAWYERS</a>
        <a mat-list-item routerLink="/posts">POST</a>
        @if(localStorage.getItem('acces_token')){
          @if(role == 'LAWYER'){
            <a mat-list-item [routerLink]="['/lawyer-profile',lawyerId]">PROFILE</a>
            <button mat-button class="create-post-btn" (click)="openDialog()"><i class="ri-add-circle-line"></i>Create Post</button>
          } @else if (role != 'CLIENT'){
            <a mat-list-item routerLink="/lawyer-edit-profile/activate-account">SETTINGS</a>
          }
          <a mat-list-item routerLink="">LOGOUT</a>
        } @else {
          <a mat-list-item routerLink="/login">LOGIN</a>
          <a mat-list-item routerLink="/signup">SIGNUP</a>
        }

    </mat-nav-list>
    @if(role =='LAWYER'){
      <button mat-button class="wrapper" [matMenuTriggerFor]="aboveMenu">
        <img [src]="'data:image/jpg;base64,'+ lawyer?.lawyerPhoto" class="image--cover">
      </button>
      <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button [routerLink]="['/lawyer-profile',lawyerId]" mat-menu-item >Profile</button>
        <button routerLink="/lawyer-edit-profile/activate-account" mat-menu-item>Settings</button>
      </mat-menu>
    } @else if (role == 'LAWYER_UNCONFIRMED'){
      <button mat-button class="wrapper" [matMenuTriggerFor]="aboveMenu">
        <img src="assets/default_lawyer_pic.jpeg" class="image--cover">
      </button>
      <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button routerLink="/lawyer-edit-profile/activate-account" mat-menu-item>Settings</button>
      </mat-menu>
    }
  </mat-sidenav>
  <mat-sidenav-content class="content">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon"><fa-icon class="icon" [icon]="faHeart"></fa-icon></mat-icon>
        </button>
      }
      <div class="container posts">
        @for(post of posts?.content ; track post.id){
          <div class="row justify-content-center">
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': 'url(data:image/jpg;base64,' + post?.lawyerResponseWithPost.lawyerPhoto + ')'}"></div>
                <mat-card-title>{{post.lawyerResponseWithPost?.name}} {{post.lawyerResponseWithPost?.lastName}}</mat-card-title>
                <mat-card-subtitle>Lawyer</mat-card-subtitle>
              </mat-card-header>
              @if(post?.postPhoto){
                <img class="postimage" mat-card-image [src]="'data:image/jpg;base64,'+ post?.postPhoto" alt="postphoto">
              }

              <mat-card-content>
                <p>
                    {{post.text}}
                </p>
              </mat-card-content>
              <mat-card-actions >
                <div class="container d-inline-flex">
                  <button mat-icon-button color="warn" (click)="toggleLike()" aria-label="Example icon button with a heart icon">
                    <mat-icon >{{ isLiked ? 'favorite_border' : 'favorite'  }}</mat-icon>
                  </button>
                    <p class="like-count">
                    {{post.likeResponseList?.length}}
                    </p>
                </div>
              </mat-card-actions>
            </mat-card>
          </div>
        }

      </div>
  </mat-sidenav-content>
</mat-sidenav-container>

