<!-- Button trigger modal -->
<img alt="ai-lawyer-img" src="assets/ai-lawyer.png" class= "ai-lawyer-img" data-bs-toggle="modal" data-bs-target="#exampleModal"/>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content custom-dialog">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">AI Lawyer</h1>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="w-100 conversation-box">
            <div class="container w-100 speech">
              <p><b>AI Lawyer</b></p>
              <p>Hello! I am AI lawyer! I can try to help you in any law related question you have!</p>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Chat with AI Lawyer..." aria-label="AILawyer chat" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button type="button" class="btn">Send</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
