<main class="form-signup w-100">
  <form [formGroup]="clientForm" class="signup-form align-items-center m-auto">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width input-container">
          <mat-label>Name</mat-label>
          <input formControlName="firstName" matInput>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width input-container">
          <mat-label>Last Name</mat-label>
          <input formControlName="lastName" matInput >
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width input-container">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email"
                 placeholder="Ex. pat@example.com">
          @if (clientForm.get('email')?.hasError('email') && !clientForm.get('email')?.hasError('required')) {
            <mat-error>Please enter a valid email address</mat-error>
          }
          @if (clientForm.get('email')?.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="input-container">
          <mat-label>Enter your password</mat-label>
          <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width input-container">
          <mat-label>Telephone</mat-label>
          <span matTextPrefix>+90 &nbsp;</span>
          <input formControlName="telephoneNo" type="tel" matInput placeholder="555-555-1234">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6 align-content-center">
        <div class="form-check">
          <input (click)="handleButtonStatus()" class="form-check-input custom-checkbox"  type="checkbox" id="conditions">
          <label >I agree to IWantMyLawyer’s <a href="">Terms of Service</a> and <a href="">Privacy Policy.</a></label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 align-content-center">
        <button class="btn custom-btn w-25 py-2" [disabled]="!agreedToTerms" (click)="register()" type="submit">Submit</button>
      </div>
    </div>
  </form>
</main>



