<main class="form-signup w-100">
  <form [formGroup]="lawyerForm" class="signup-form align-items-center m-auto">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width input-container">
          <mat-label>Name</mat-label>
          <input formControlName="firstName" matInput>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width input-container">
          <mat-label>Last Name</mat-label>
          <input formControlName="lastName" matInput >
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width input-container">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email"
                 placeholder="Ex. pat@example.com">
          @if (lawyerForm.get('email')?.hasError('email') && !lawyerForm.get('email')?.hasError('required')) {
            <mat-error>Please enter a valid email address</mat-error>
          }
          @if (lawyerForm.get('email')?.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </div>
      <div class="col-md-6 align-content-center ">
          <mat-form-field class="input-container">
            <mat-label>Enter your password</mat-label>
            <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width input-container">
          <mat-label>Telephone</mat-label>
          <span matTextPrefix>+90 &nbsp;</span>
          <input formControlName="telephoneNo" type="tel" matInput placeholder="555-555-1234">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6 align-content-center">
        <mat-form-field class="input-container" hintLabel="Max 11 characters">
          <mat-label>Enter Tc No</mat-label>
          <input formControlName="tcNo" matInput #input maxlength="11">
          <mat-hint align="end">{{input.value.length}}/11</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="input-container" hintLabel="Max 5 characters">
          <mat-label>Enter Bar No</mat-label>
          <input formControlName="baroSicilNo" matInput #barono maxlength="5">
          <mat-hint align="end">{{barono.value.length}}/5</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-6 align-content-center">
        <mat-form-field style="background-color: white" class="input-container">
          <mat-label>City</mat-label>
          <mat-select formControlName= "cityId">
            <mat-option>None</mat-option>
            @for (city of cities; track city) {
              <mat-option  [value]="city.id" >{{ city.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 align-content-center">
        <div class="form-check">
          <input (click)="handleButtonStatus()" class="form-check-input" type="checkbox" id="conditions">
          <label>I agree to IWantMyLawyer’s <a href="">Terms of Service</a> and <a href="">Privacy Policy.</a></label>
        </div>
      </div>
      <div class="col-md-6 align-content-center">
        <button class="btn custom-btn w-50 py-2" [disabled]="!agreedToTerms" (click)="lawyerRegister()"  type="submit">Submit</button>
      </div>
    </div>
  </form>
</main>
