.signup-form{
  border-radius: 16px;
  padding: 10px;
  width: 80%;
  height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.row-gap{
  margin-bottom: 20px;
}

.custom-btn{
  border: 2px solid black;
  color: white;
  background-color: #444343;
}
.custom-btn:hover{
  background-color: #595757;
}
.custom-btn:active{
  transform: scale(0.9);
  background-color: #595757;
  color: white;
}
.form-check > label{
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}
.form-check > label > a {
  color: black;
  font-weight: bold;
}
.input-container{
  width: 100%;
}
.password-container > input{
  -moz-appearance: textfield;
}
.password-container > input::-webkit-outer-spin-button,
.password-container > input::-webkit-inner-spin-button{
  display: none;
}

@media screen and (max-width:800px){
  .row-gap{
    margin-bottom: 0;
  }
  .form-floating{
    margin-bottom: 10px;
  }
}
