<div class="row justify-content-md-center">
  <div class="col col-md-6">
    <div class="about-me-container mb-3">
      <label for="exampleFormControlTextarea1" class="form-label custom-label">About Me</label>
      <textarea class="about-me-text-area form-control" [defaultValue]="'lorem ipsum'"  id="exampleFormControlTextarea1" rows="3"></textarea>
      <div class="justify-content-center text-center">
        <button type="submit" class="btn btn-custom">Update</button>
      </div>
    </div>
  </div>
</div>
