.lawyers-page{
  width: 100%;
  height: 100vh;
  position: absolute;
}

.text-area{
  font-family: "Quicksand", sans-serif;
  height: 60vh;
  color: white;
  border: 1px solid transparent;
  background: url("/assets/justice-woman.png") no-repeat;
  background-size: cover;
}
.dark-filter {
  padding-bottom:20px;
  padding-top: 20px;
  min-height: 25vh;
  margin-top: 25vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.dark-filter > h3 {
  color: #F9725A;
}
.filter{
  background-color: #c5c5c5;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}
.filter-slide{
  height: 0;
  width: 100%;
  display: none;
  background-color: white;
  transition: 500ms ease-in-out;
}
.filter-slide.active{
  padding-top: 10px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-control{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.filter-slide > i {
  font-size: 1.5rem;
  font-weight: bold;
}
.lawyer-card-holder{
  margin-top: 20px;
  padding-bottom: 30px;
}



