<div class="lawyers-page">
  <app-responsive-header/>
  <div class="text-area text-center">
    <div class="dark-filter text-center">
      <h1>LAWYERS</h1>
      <h3>All Real Professionals</h3>
      <p>Learn about and contact the lawyer you need. Check out the recent articles,posts and much more. </p>
    </div>
  </div>
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Search Lawyer
        </mat-panel-title>
        <mat-panel-description>
           Search by credentials
          <fa-icon class="icon" [icon]="searchIcon"> </fa-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="container text-center">
        <mat-form-field>
          <mat-label>Lawyer name</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>City</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="container lawyer-card-holder">
    <div class="row">
      <div class="col-md-4">
        <app-lawyer-card/>
      </div>
      <div class="col-md-4">
        <app-lawyer-card/>
      </div>
      <div class="col-md-4">
      <app-lawyer-card/>
    </div>
      <div class="col-md-4">
        <app-lawyer-card/>
      </div>

    </div>
  </div>
  <app-ailawyer/>
</div>
