<div class="container d-grid justify-content-center">
    @if(lawyer?.commonQuestionResponseList?.length > 0){
      <div class="mt-3">
      <mat-accordion>
        @for(question of lawyer?.commonQuestionResponseList ; track question.id){
          <div class="container">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{question.questionLine}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>{{question.answerLine}}</p>
            </mat-expansion-panel>
            <button class="" mat-mini-fab color="primary" (click)="deleteCommonQuestion(question.id)"  aria-label="Example icon button with a delete icon">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        }

      </mat-accordion>
      </div>
    }
    @else{
      <p class="text-center mt-3">You currently have no common questions!</p>
    }


  <div class="form-container container">
    <form [formGroup]="commonQuestionsForm"  class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Question</mat-label>
        <input formControlName = "questionLine" matInput name="question">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Answer</mat-label>
        <textarea formControlName = "answerLine" matInput name="answer" ></textarea>
      </mat-form-field>
      <div class="container text-center">
        <button mat-raised-button
                [disabled]="lawyer?.commonQuestionResponseList?.length >= 10"
                (click)="createCommonQuestion()"
                class="demo-button">
          Add Question
        </button>
      </div>
    </form>

  </div>
</div>



