<div class="login-page">
  <app-responsive-header/>
    <div class="login">
      <img src="assets/login-background.jpg" alt="image" class="login__bg">
      <form [formGroup]="authenticationForm" action="" class="login__form">
        <div class="row text-center">
            <h1 class="login__title">Login</h1>
        </div>
        <div class="login__inputs">
          <div class="login__box">
            <input type="email" formControlName="email" placeholder="Email" required class="login__input">
            <i class="ri-mail-fill"></i>
          </div>

          <div class="login__box">
            <input type="password" formControlName="password" placeholder="Password" required class="login__input">
            <i class="ri-lock-2-fill"></i>
          </div>
        </div>


        <button type="submit" (click) ="getAuthenticate()" class="login__button">Login</button>

        <div class="login__register">
          Don't have an account? <a routerLink="/signup">Register</a>
        </div>
      </form>
    </div>
</div>
